
@font-face 
    font-family: 'texas_ledregular'
    src: url('../webfonts/texasled-webfont.eot')
    src: url('../webfonts/texasled-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/texasled-webfont.woff') format('woff'),
         url('../webfonts/texasled-webfont.ttf') format('truetype'),
         url('../webfonts/texasled-webfont.svg#texas_ledregular') format('svg')
    font-weight normal
    font-style normal

@font-face 
    font-family 'FuturaStd-Bold'
    src: url('../webfonts/278A02_0_0.eot')
    src: url('../webfonts/278A02_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/278A02_0_0.woff') format('woff'),url('../webfonts/278A02_0_0.ttf') format('truetype')

@font-face 
    font-family: 'FuturaStd-Medium';
    src: url('../webfonts/278A02_1_0.eot');
    src: url('../webfonts/278A02_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/278A02_1_0.woff') format('woff'),url('../webfonts/278A02_1_0.ttf') format('truetype')

@font-face 
    font-family: 'FuturaStd-Heavy'
    src: url('../webfonts/278A02_2_0.eot')
    src: url('../webfonts/278A02_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/278A02_2_0.woff') format('woff'),url('../webfonts/278A02_2_0.ttf') format('truetype')
